 /* CSS for card container */
 .card {
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 3px 5px black;
    
  }
  
 

  /* CSS for profile image */
  .profile-img {
    width: 100px;
    height: 100px;
    border-radius: 50%; /* creates circular shape */
    margin: 0 auto 20px auto;
    display: block;
    background-image: url('Image/me/me.jpg'); /* Replace 'path_to_your_image.jpg' with your actual image path */
    background-size: cover;
    transition: transform 1s ease-in-out;
    box-shadow:0 0px 10px  rgba(0, 0, 0, 0.1) ;
  }
  .profile-img:hover{
    transform: translatey(10px);
    box-shadow:0 2px 5px rgb(0, 0, 0) ;

  }

  /* CSS for name */
  .name {
    font-size: 24px;
    text-align: center;
    margin-bottom: 10px;
  }

  /* CSS for description */
  .description {
    font-size: 16px;
    text-align: center;
    opacity: 0.7;
  }
  body{
    padding: 0;
    margin: 0;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    

  }
  .work{
    display: flex;
    justify-content: center;
    position: absolute;
  }
  .work,a{
    display: flex;
    justify-content:center;
    width: 100%;
    margin-top: 5px;
    color: rgb(0, 119, 255);
    transition: transform 0.3s ease-in-out;
    text-decoration: none;
  }
  .work,a:hover{
    transform: scale(1.2);
  }
  .work,h5{
    text-align: center;
    color: rgb(230, 22, 22);
    font-size: large;
    transition: transform 0.3s ease-in-out;
  }
  .work,h5:hover{
    transform: scale(1.2);

  }
  .work,a:active{
    color: rgb(255, 0, 0);
  }
  .work,a::after{
    color: black;
  }
  .work,a::before{
    color: black;
  }
  .link,ul,li,a{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    margin-right: 10px;
  }
  img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    animation: link 1s  5 ease-in-out;

  }
  @keyframes link{
    from{
        transform: rotateX(0);
    }
    to{
        transform: rotatey(360deg);
    }
  }
 